<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #FF8C00">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="root_path" id="brand"><b>Eventbrite-Like</b></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Account
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Se connecter</a></li>
          <li><a href="#">Parcourir</a></li>
          <li><a href="#">Creer un evenement</a></li>
        </ul>
    </ul>
  </div>
</nav>
